{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'delete.css' %}" type="text/css">

    <title>Document</title>
</head>
<body>
    <form action="adtable/{{table.table}}" method="post">
        <h1>Delete Items for Table {{table.table}}</h1>
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
        {% csrf_token %}
        {% for item in menu %}
        <div style="display: flex; width: 100%; margin-top: 10px;">
            <input type="checkbox" name="add" id="{{item.id}}" value="{{item.id}}" onclick="document.getElementById('quant{{item.id}}').style.display=(document.getElementById('quant{{item.id}}').style.display == 'none')?'block' :'none'">
            <p>{{item.item}}</p>
            <input type="number" name="quant{{item.id}}" id="quant{{item.id}}" style="display: none;" placeholder="Quantity" class="quant">
        </div>
        {% endfor %}
        <input type="submit" value="Add Items">
    </form>
</body>
</html>