{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'delete.css' %}" type="text/css">

    <title>Document</title>
</head>
<body>
    <form action="deleteitems/{{table.table}}" method="post">
        <h1>Edit Items for Table {{table.table}}</h1>
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
        {% csrf_token %}
        {% for order,quant in zipped %}
        

        <div style="display: flex; width: 100%; margin-top: 10px;">
            <input type="checkbox" name="items" id="{{order.id}}" value="{{order.id}}" onclick="document.getElementById('quant{{order.id}}').style.display=(document.getElementById('quant{{order.id}}').style.display == 'none')?'block' :'none'">
            <p>{{order.item}}</p>
            <input type="number" name="quant{{order.id}}" id="quant{{order.id}}" style="display: none;" placeholder="Quantity" class="quant" value="{{quant}}">
        </div>
        {% endfor %}
        <input type="submit" value="Delete Items">
    </form>
</body>
</html>