{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

    <title>Document</title>
</head>
<body>

    
    
    <div class="header">
        <p onclick="document.getElementById('add').style.display=(document.getElementById('add').style.display == 'none')?'block' :'none'">Order Items</p>
        <!-- <p id="ad">Add Items</p> -->
        <p id="del">Edit Items</p>
        <p id="bil">Total Bill</p>
        <!-- <p id="edi">Edit Items</p> -->

        
        <p onclick="document.getElementById('menu').style.display=(document.getElementById('menu').style.display == 'none')?'block' :'none'">Menu</p>
        <p id="feed">Feedback</p>
        
    </div>

    

    <form action="delete" method="post" id="delete" style="display: none;">
        {% csrf_token %}
        <input type="number" name="table" id="" placeholder="Enter the Table Number" >
        <input type="submit" value="Show Items">
    </form>
    
    <form action="feedback" method="post" id="feedback" style="display: none;">
        {% csrf_token %}
        <input type="number" name="table" id="" placeholder="Enter the Table Number" >
        <input type="submit" value="Give Feedback">
    </form>
    <form action="ad" method="post" id="formad" style="display: none;">
        {% csrf_token %}
        <input type="number" name="table" id="" placeholder="Enter the Table Number" >
        <input type="submit" value="Add Items">
    </form>

    <form action="bill" method="post" id="bill" style="display: none;">
        {% csrf_token %}
        <input type="number" name="table" id="" placeholder="Enter the Table Number" >
        <input type="submit" value="Calculate Bill">
    </form>
    <script>
        document.getElementById('del').onclick = () => {
            if (document.getElementById('delete').style.display=='none') {
            document.getElementById('delete').style.display='block'
            } else {
                document.getElementById('delete').style.display='none'
            }
            document.getElementById('feedback').style.display='none'
            document.getElementById('formad').style.display='none'
            document.getElementById('bill').style.display='none'
        }

        document.getElementById('feed').onclick = () => {
            if (document.getElementById('feedback').style.display=='none') {
            document.getElementById('feedback').style.display='block'
            } else {
                document.getElementById('feedback').style.display='none'
            }
            document.getElementById('delete').style.display='none'
            document.getElementById('formad').style.display='none'
            document.getElementById('bill').style.display='none'
        }

        document.getElementById('bil').onclick = () => {
            if (document.getElementById('bill').style.display=='none') {
            document.getElementById('bill').style.display='block'

            } else {
                document.getElementById('bill').style.display='none'

            }
            document.getElementById('delete').style.display='none'
            document.getElementById('feedback').style.display='none'
            document.getElementById('formad').style.display='none'
        }
    </script>
    

    <div class="container">


        <h1>Hello!!</h1>
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}

        <form action="/add" method="post" style="display:none;" id="add">
            {% csrf_token %}
            <input type="number" name="table" id="" placeholder="Enter Table Number" class="input">
            {% for item in menu %}
                <div style="display: flex; width: 100%; margin-top: 10px;">
                    <input type="checkbox" name="items" id="{{item.id}}" value="{{item.id}}" onclick="document.getElementById('quant{{item.id}}').style.display=(document.getElementById('quant{{item.id}}').style.display == 'none')?'block' :'none'">
                    <p>{{item.item}}</p>
                    <input type="number" name="quant{{item.id}}" id="quant{{item.id}}" style="display: none;" placeholder="Quantity" class="quant">
                </div>
                <!-- <script>
                    let checkbox = document.getElementById('{{item.id}}')
                    if (checkbox.checked){
                        document.getElementById('quant{{item.id}}').style.display='block'
                    }
                </script> -->
            {% endfor %}
            <input type="submit" value="Add Items" class="input">
        </form>

        

        <table id="menu" style="display:none;">
            <tr>
                <th colspan="2">Menu</th>
            </tr>
            <tr>
                <th>Item</th>
                <th>Price</th>
            </tr>
            {% for item in menu %}
            <tr>
                <td>{{item.item}}</td>
                <td>₹{{item.price}}</td>
            </tr>
            {% endfor %}
        </table>
        

        {% csrf_token %}
        
    </div>

    
</body>
</html>
